<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Hogwarts</title>
</head>
<body>
  <nav>
    <ul>
      <a href="/hogwarts">See All Students</a><br>
      <a href="/hogwarts/new">New Student</a>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
