<form class="" action="/hogwarts" method="post">
  <label for="first-name">First Name</label>
  <input type="text" name="first_name" value="">
  <label for="last-name-name">Last Name</label>
  <input type="text" name="last_name" value="">
  <label for="house-select">Select House:</label>
    <select id = "house-select" name="house">
      <option value=""></option>
      <option value="Gryffindor">Gryffindor</option>
      <option value="Slytherin">Slytherin</option>
      <option value="Ravenclaw">Ravenclaw</option>
    </select>
  <label for="age">Age</label>
  <input type="number" name="age" value="">

  <input type="submit" name="Add Student" value="Add Student">
</form>
